html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    font-size: 1rem;
    line-height: 1.3;
}

a{
    text-decoration: none;
}

//Flexbox
.flex {
    display: flex;

    //jc: justify-content, sb: space-between
    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

// Container
.container{
    padding: 3.5rem 1.5rem;

    @include breakpoint-up(large){
        padding: 3.25rem 8.875rem;
    }
}

// Button
.btn-primary{
    padding: 1rem 2.25rem;
}

.btn-white{
    background-color: $white;
    border-radius: 50px;
}


//Hide for
.hide-for-mobile{
    @include breakpoint-down(medium){
        display: none;
    }
}
.hide-for-desktop{
    @include breakpoint-up(large){
        display: none;
    }
}